.btn-square{
    border-radius: 0; !important;
    background-color: #d80000;
    font-weight: 4500;
    color: white;
}

.btn-square:click{
    background-color: darkred;
}

.btn-square:hover{
    background-color: whitesmoke;
}

.links{
    color: #d80000;
}

.links:hover{
    color: darkred;
}

.password_label{

    border-radius: 0; !important;
    background-color: #d80000;
    font-weight: 4500;
    color: white;
}

.password_label:hover {
    color: darked;
}

.password_label_checked{
    background-color:  whitesmoke;
    color: #d80000;
}


.navbar {
    background: #d80000
}

.navbar a {
    color: whitesmoke;
}

.navbar a:hover {
    background-color: whitesmoke;
    color: black;
}

.hamburger {
    font-size: 20px;
    color: whitesmoke;
}