{% extends 'base.html.twig' %}

{% block title %}Admin panel{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="https://cssicon.space/css/icons.css">
{% endblock %}


{% block body %}
    <h1 class="text-center pt-5">Admin&nbsp;dashboard</h1>
    <h2 class="pt-3">Profiles</h2>
    {{ include('profile/_table.html.twig') }}
    <h2 class="pt-3">Users</h1>
    {{ include('user/_table.html.twig') }}
    <h2 class="pt-3">Logs</h2>
    {{ include('log/_table.html.twig') }}
{% endblock %}

        {% block javascripts %}

            $('.icon').click(function(){
            $(this)
            .toggleClass('search')
            .toggleClass('arrow-right');
            })

        {% endblock %}
