{% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                <strong>Alert</strong> {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
{% endfor %}

{% for message in app.flashes('success') %}
            <div class="alert alert-success">
            <strong>Success</strong> {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
{% endfor %}