{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Create new User</h1>

    {{ include('user/_form.html.twig') }}

    <a class="btn btn-square btn-block" href="{{ path('user_index') }}">Back to list</a>
{% endblock %}

{% block javascript %}
<script src="{{ asset('js/profile-new.js', 'theme') }}"></script>
{% endblock %}
